@tailwind base;
@tailwind components;
@tailwind utilities;

/* .bgImage {
	background: url("/img/foot_home.svg") content-box;
} */

.nav__hover {
	@apply cursor-pointer  text-gray-400 hover:text-[#ffd56b] pt-2;
}
.projectNav {
	@apply bg-white py-2 px-3 rounded-lg mr-5 cursor-pointer  font-bold flex-shrink-0;
	font-family: "Roboto", sans-serif;
}
.nav__hover {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 70;
}
.langingImg {
	background-image: url("/img/Landing.svg");
	background-repeat: no-repeat;
	background-size: cover;
}
.home__font {
	/* font-family: "Patrick Hand", cursive; */
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	word-spacing: 2pt;
}
.bg_home {
	background-image: url("/img/bg_home.svg");
}
.patrickHand {
	/* font-family: "Patrick Hand", cursive; */
	font-family: "Roboto", sans-serif;
}
.primaryText {
	font-family: "Roboto", sans-serif;
}
/* width */
.no-scrollbar::-webkit-scrollbar {
	height: 10px;
}

/* Track */
/* .no-scrollbar::-webkit-scrollbar-track {
	box-shadow: 0 0 5px #eee;
	border-radius: 60px;
} */

/* Handle */
.no-scrollbar::-webkit-scrollbar-thumb {
	background: #495464;
	border-radius: 10px;
}

/* Handle on hover */
.no-scrollbar::-webkit-scrollbar-thumb:hover {
	background: #495464;
}
